<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>AoE2</title>
    <script src="https://kit.fontawesome.com/8e7a8c8efa.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/nl_NL/sdk.js#xfbml=1&version=v14.0&appId=474168577890974&autoLogAppEvents=1" nonce="QOSaSZ6Q"></script>
    <script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{your-app-id}',
      cookie     : true,
      xfbml      : true,
      version    : '{api-version}'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Aboreto&family=Montserrat:ital,wght@0,600;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Quattrocento+Sans:wght@700&display=swap" rel="stylesheet" >
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" 
    <link rel="stylesheet" type="text/css" href="css/bootstrap-social.css">
    <link rel="stylesheet" type="text/css" href="css/login.css">
    <link rel="stylesheet" type="text/css" href="css/global_elements.css">
    <link rel="stylesheet" type="text/css" href="css/home_styles.css">
    <link rel="stylesheet" type="text/css" href="css/profile_styles.css">

  </head>

  <nav class="navbar navbar-expand-lg  blue_background">
  <div class="container-fluid">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/forum">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/leaderboard">leaderboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Upcoming matches">Matches</a>
        </li>
        <li class="nav-item">
          <label>
            <input type="text" placeholder="Search for player" name="" value="">
            <i class="fa fa-search"></i>
          </label>
        </li>
          </ul>

          <ul class="ms-auto navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/Profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Settings</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>


        </li>
      </ul>
    </div>
  </div>
</nav>
  <body>
    <section >
    <div class="container-fluid">
      <div class="row">
        <div  class=" quick_menu col-sm-2 _line _fit ">
<div class="player_overview _line _fit">
  <a href="/profile"><img src=<%- profile_picture%> alt=""></a>
</div>

    <ul class=" _fit " >

      <li >
        <a aria-current="page" href="/forum">Forum</a>
      </li>
      <li >
        <a  href="/<Leaderboard></Leaderboard>">Leaderboard</a>
      </li>
      <li >
        <a href="/Upcoming matches">Matches</a>
      </li>
      <li >
        <a aria-current="page" href="/forum">Forum</a>
      </li>
      <li >
        <a  href="/<Leaderboard></Leaderboard>">Leaderboard</a>
      </li>
      <li >
        <a href="/Upcoming matches">Matches</a>
      </li>


    </ul>

        </div>
