<%- include("partials/home_header"); %>
<h1>WELCOME U JUST GOT HACKED DUMBASS</h1>
<h1>HALLO <%= profile.user.username%> </h1>
<form class="" action="/logout" method="post">
  <button type="submit" name="logout">RAUSLOGGEN SIE BITTE UND SCHNELL</button>

</form>
<%- include("partials/home_footer"); %>
