<%- include("partials/home_header"); %>

<!-- BANNER -->
<div class="container-fluid height_banner ">
  <div class="row">
    <div class="col-12">
      <img class="banner_img" src="img/img_banner_home.jpg" alt="moooi">
    </div>
  </div>

  <div class="row banner ">
    <div class="col-12 d-flex justify-content-center ">
      <h1>Season 1 starting on september the 15th!</h1>

    </div>
<div class="">
<span><a href="#">Sign up now</a></span>
</div>
    </div>



<!-- H1 text under banner -->
<div class="container-fluid">
  <div class="row ageText">
    <div class="col-12 d-flex justify-content-center ">
      <h1>AGE OF EMPIRES LEAGUE</h1>

    </div>
  </div>

  <div class="row justify-content-md-center">

    <!-- CARD 1 -->
    <div class="col-md-3">
      <div class="card card_marg h-100">
        <h5 class="card-title">Join the league!</h5>
        <img class="card_img" src="img/card1.jpg" alt="">
        <div class="card-body ">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn">Go somewhere</a>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- CARD 2 -->
    <div class=" col-md-3">
      <div class=" card card_marg h-100">
        <h5 class="card-title">Duo with a friend!</h5>
        <img class="card_img" src="img/card2.jpg" alt="">
        <div class="card-body">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn">Go somewhere</a>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- CARD 3 -->
    <div class=" col-md-3">
      <div class="card card_marg h-100 ">
        <h5 class="card-title">Play with 2 friends!</h5>
        <img class="card_img" src="img/card3.jpeg" alt="">
        <div class="card-body">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn">Go somewhere</a>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</div>


<div class="container-fluid py-5">
  <div class="col-12 d-flex justify-content-center">
    <div id="carouselHomePage" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/img_banner_home.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/theviper.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/standings.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
  </div>
  <!--  -->



<%- include("partials/home_footer"); %>
