<%- include("partials/home_header"); %>

<!-- BANNER -->
<div class="container-fluid height_banner ">
  <div class="row">
    <div class="col-12">
      <img class="banner_img" src="img/img_banner_home.jpg" alt="moooi">
    </div>
  </div>

  <div class="row banner ">
    <div class="col-12 d-flex justify-content-center ">
      <h1>Season 1 starting on september the 15th!</h1>

    </div>
<div class="">
<span><a href="#">Sign up now</a></span>
</div>
    </div>



<!-- H1 text under banner -->
<div class="container-fluid">
  <div class="row ageText">
    <div class="col-12 d-flex justify-content-center ">
      <h1>AGE OF EMPIRES LEAGUE</h1>

    </div>
  </div>
<section class="body_html">
  <div class="row justify-content-md-center space_card_cars">

    <!-- CARD 1 -->
    <div class="col-md-3">
      <div class="card card_marg h-100">
        <h5 class="card-title">Join the league!</h5>
        <img class="card_img" src="img/card1.jpg" alt="">
        <div class="card-body ">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#1v1" class="btn">Go somewhere</a>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- CARD 2 -->
    <div class=" col-md-3">
      <div class=" card card_marg h-100">
        <h5 class="card-title">Duo with a friend!</h5>
        <img class="card_img" src="img/card2.jpg" alt="">
        <div class="card-body">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#2v2" class="btn">Go somewhere</a>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- CARD 3 -->
    <div class=" col-md-3">
      <div class="card card_marg h-100 ">
        <h5 class="card-title">Play with 2 friends!</h5>
        <img class="card_img" src="img/card3.jpeg" alt="">
        <div class="card-body">
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#3v3" class="btn">Go somewhere</a>
        </div>
      </div>
    </div>
    <!--  -->
  </div>


<!-- COURASSEL -->



  <div class="col-12 d-flex justify-content-center py-4">
    <div id="carouselHomePage" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/theviper.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/theviper.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/theviper.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
  </div>
  </section>
  <!--  -->
<!-- INFORMATION 1v1 -->
<section class="body_html">

<div class="container-fluid" id="1v1">
  <div class="row">
    <div class="col-12">
      <h1 class="overline py-4">Empire League Solo Series Season 1 - 2022</h1>

    </div>
    <div class="col-sm-6 py-5">
      <p class="p_padding_ranked_info">In the solo league you will have to rely on your on skills and knowledge. Throughout many matches against returning opponents you will be able to prepare for the matches and adapt according to your enemies. You will be matched in a league with other players ranked around the same skill as you.
      Every saturday and sunday between 1pm and 4pm your locale time you will be able to schedule a match with your opponent.</p>

    </div>
    <div class="col-sm-6 py-5">
        <img src="img/theviper.jpg" class="example_img" >
    </div>
  </div>

</div>
</section>

<!--  -->
<!-- INFORMATION 2v2 -->
<section class="body_html">


<div class="container-fluid" id="2v2">

  <div class="row">
    <div class="col-12">
      <h1 class="overline py-4">Empire League Solo Series Season 1 - 2022</h1>

    </div>
    <div class="col-sm-6 py-5">
        <img src="img/theviper.jpg" class="example_img" >
    </div>



  <div class="col-sm-6 py-5">
    <p class="p_padding_ranked_info">In the solo league you will have to rely on your on skills and knowledge. Throughout many matches against returning opponents you will be able to prepare for the matches and adapt according to your enemies. You will be matched in a league with other players ranked around the same skill as you.
    Every saturday and sunday between 1pm and 4pm your locale time you will be able to schedule a match with your opponent.</p>

  </div>
    </div>
</div>
</section>
<!--  -->
<!-- INFORMATION 3v3 -->
<section class="body_html">

<div class="container-fluid" id="3v3">
  <div class="row">
    <div class="col-12">
      <h1 class="overline py-4">Empire League Solo Series Season 1 - 2022</h1>

    </div>
    <div class="col-sm-6 py-5">
      <p class="p_padding_ranked_info">In the solo league you will have to rely on your on skills and knowledge. Throughout many matches against returning opponents you will be able to prepare for the matches and adapt according to your enemies. You will be matched in a league with other players ranked around the same skill as you.
      Every saturday and sunday between 1pm and 4pm your locale time you will be able to schedule a match with your opponent.</p>

    </div>
    <div class="col-sm-6 py-5">
        <img src="img/theviper.jpg" class="example_img" >
    </div>
  </div>

</div>
</section>

<!--  -->


<%- include("partials/home_footer"); %>
