<%- include("partials/home_header"); %>

<!-- BANNER -->


<div class="container-fluid height_banner ">
  <div class="row">
    <div class="col-12">
      <img class="banner_img" src="img/img_banner_home.jpg" alt="moooi">
    </div>
  </div>

  <div class="banner red_background ">
    <div class="col-12 d-flex justify-content-center ">
      <h1>Season 1 starting on september the 15th!</h1>

    </div>
    <div class="col-12">
      <div  class="button_container">
        <a href="/register"><button type="submit" name="sign_up" class="signup_button">Sign up</button></a>

      </div>
    </div>
    </div>


<section id="first_section_home" class="fs_section">
<!-- H1 text under banner -->
<div class="container-fluid">

    <div class="col-12 d-flex justify-content-center mb-4 pb-4">
      <h1>AGE OF EMPIRES LEAGUE</h1>
    </div>


  <div class="row justify-content-md-center space_card_cars">

    <!-- CARD 1 -->
    <div class="col-md-3">
      <div class="card red_background card_marg h-100">
        <h5 class="card-title">Join the league!</h5>
        <img class="card_img" src="img/card1.jpg" alt="">
        <div class="card-body ">
          <p class="card-text">Compete in the solo league</p>
          <a href="#1v1">Learn more</a>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- CARD 2 -->
    <div class=" col-md-3">
      <div class=" card red_background card_marg h-100">
        <h5 class="card-title">Duo with a friend!</h5>
        <img class="card_img" src="img/card2.jpg" alt="">
        <div class="card-body">
          <p class="card-text">Compete in the 2v2 league</p>
          <a href="#2v2">Learn more</a>
        </div>
      </div>
    </div>
    <!--  -->
    <!-- CARD 3 -->
    <div class=" col-md-3">
      <div class="card red_background card_marg h-100 ">
        <h5 class="card-title">Play with 2 friends!</h5>
        <img class="card_img" src="img/card3.jpeg" alt="">
        <div class="card-body">
          <p class="card-text">Compete in the 3v3 league</p>
          <a href="#3v3" >Learn more</a>
        </div>
      </div>
    </div>
    <!--  -->
  </div>


<!-- COURASSEL -->



  <div class="col-12 d-flex justify-content-center">
    <div id="carouselHomePage" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="img/theviper.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/theviper.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="img/theviper.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
  </div>
  </section>
  <!--  -->
<!-- INFORMATION 1v1 -->
<section id="1v1_section" class="fs_section">

<div class="container-fluid" id="1v1">
  <div class="row">
    <div class="col-12">
      <h1 class="overline py-4">Empire League Solo Series Season 1 - 2022</h1>

    </div>
    <div class="col-sm-6 pt-5">
      <p class="p_padding_ranked_info">In the solo league you will have to rely on your on skills and knowledge. Throughout many matches against returning opponents you will be able to prepare for the matches and adapt according to your enemies. You will be matched in a league with other players ranked around the same skill as you.
      Every saturday and sunday between 1pm and 4pm your locale time you will be able to schedule a match with your opponent.</p>

    </div>

    <div class="col-sm-6 pt-5">
        <img src="img/theviper.jpg" class="example_img" >
    </div>
    <div class="col-12">
      <div  class="button_container">
        <a href="/register"><button type="submit" name="sign_up" class="signup_button">Sign up</button></a>

      </div>
    </div>
  </div>

</div>
</section>

<!--  -->
<!-- INFORMATION 2v2 -->
<section id="2v2_section" class="fs_section">


<div class="container-fluid" id="2v2">

  <div class="row">
    <div class="col-12">
      <h1 class="overline py-4">Empire League Solo Series Season 1 - 2022</h1>

    </div>
    <div class="col-sm-6 pt-5">
        <img src="img/theviper.jpg" class="example_img" >
    </div>



  <div class="col-sm-6 pt-5">
    <p class="p_padding_ranked_info">In the solo league you will have to rely on your on skills and knowledge. Throughout many matches against returning opponents you will be able to prepare for the matches and adapt according to your enemies. You will be matched in a league with other players ranked around the same skill as you.
    Every saturday and sunday between 1pm and 4pm your locale time you will be able to schedule a match with your opponent.</p>

  </div>
  <div class="col-12">
    <div  class="button_container">
      <a href="/register"><button type="submit" name="sign_up" class="signup_button">Sign up</button></a>

    </div>
  </div>
    </div>
</div>
</section>
<!--  -->
<!-- INFORMATION 3v3 -->
<section id="3v3_section" class="fs_section">

<div class="container-fluid" id="3v3">
  <div class="row">
    <div class="col-12">
      <h1 class="overline py-4">Empire League Solo Series Season 1 - 2022</h1>

    </div>
    <div class="col-sm-6 pt-5">
      <p class="p_padding_ranked_info">In the solo league you will have to rely on your on skills and knowledge. Throughout many matches against returning opponents you will be able to prepare for the matches and adapt according to your enemies. You will be matched in a league with other players ranked around the same skill as you.
      Every saturday and sunday between 1pm and 4pm your locale time you will be able to schedule a match with your opponent.</p>

    </div>
    <div class="col-sm-6 pt-5">
        <img src="img/theviper.jpg" class="example_img" >
    </div>
    <div class="col-12">
      <div  class="button_container">
        <a href="/register"><button type="submit" name="sign_up" class="signup_button">Sign up</button></a>

      </div>
    </div>
  </div>

</div>
</section>

<!--  -->


<%- include("partials/home_footer"); %>
