<%- include("partials/home_header"); %>
<section id="login">

<div class="container-fluid logincont">
  <div class="row">

    <div class="col-sm-8">
      <p>TRUST US WE ARE NOT HACKERS</p>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class=" btn-social btn-google"  role="button" href="/auth/google"><i class="fab fa-google"></i>Sign up with Google</a>
        </div>
      </div>
    </div>

</div>
</div>
</section>

<%- include("partials/home_footer"); %>
