<%- include("partials/home_header"); %>
<section id="login"   >

<div class=" fs_section container-fluid justify-content-center spacing_for_nav">
  <div class="row">

    <div class="col-sm-8">
      <h1>Login</h1>
      <form class="" action="index.html" method="post">
        <input type="text" name="" value="">
        <input type="text" name="" value="">
      </form>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class=" btn-social btn-google"  role="button" href="/auth/google"><i class="fab fa-google"></i>Sign up with Google</a>
        </div>
      </div>
    </div>

</div>
</div>
</section>

<%- include("partials/home_footer"); %>
