/* Global elements */
html {
  overflow-x: hidden;
  }

footer, a {
  text-decoration: none;
}

body {
  background-color: #000E57;
  opacity: 0.9;
  background: linear-gradient(135deg, #0e103255 25%, transparent 25%) -5px 0/ 10px 10px, linear-gradient(225deg, #0e1032 25%, transparent 25%) -5px 0/ 10px 10px, linear-gradient(315deg, #0e103255 25%, transparent 25%) 0 0/ 10px 10px, linear-gradient(to right, #0e1032 5%, #000E57 100%), linear-gradient(45deg, #0e1032 25%, #000E57 25%) 0 0/ 10px 10px;
  text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: bold;
  color: #d7be69;
  text-shadow: 1px 0 24px #8f7d0a;
}

h1 {
  text-shadow: 3px -1px 2px #473f05;
  text-decoration: overline;
}

a {
  color: gold;
}

/* Global classes */
/* labeltext */
.form-text{
  color:#f5edd6;
}
/* Sections */
.fs_section {

  min-height: 100vh;
}
/* Backgrounds */
.red_background{
  background-color: #9b3816;
  background-image: linear-gradient(to right, #9b3816, #c9481d);
}
.blue_background{
  background-color: #000E57;
  background: linear-gradient(135deg, #0e103255 25%, transparent 25%) -5px 0/ 10px 10px, linear-gradient(225deg, #0e1032 25%, transparent 25%) -5px 0/ 10px 10px, linear-gradient(315deg, #0e103255 25%, transparent 25%) 0 0/ 10px 10px, linear-gradient(to right, #0e1032 5%, #000E57 100%), linear-gradient(45deg, #0e1032 25%, #000E57 25%) 0 0/ 10px 10px;

}
/* Spacing */
.spacing_for_nav{
  margin-top: 12rem;
}
/* navbar */

.navbar{
  border-bottom: 4mm ridge;

  border-color: #d7be69;
}
.nav-link {
  color: #d7be69;

}

/* Animated button */
.btn-social{
      padding-right: 2rem;
}
.social_style{
  border-left: 1px solid gold;
  padding-top: 5%;
}
.button_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.signup_button {
  width: 10rem;
  height: 3rem;
  border-radius: 4px;
  transition: ease-out 0.3s;
  font-size: 1.5rem;
  outline: none;
  background: linear-gradient(to right, #5c8a8a, #e6b3e6);
  border: 3px solid #334d4d;
  position: relative;
  z-index: 1;
}

.signup_button:hover {
  color: white;
  cursor: pointer;
}

.signup_button:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background: #8f7d0a;
}

.signup_button:hover:before {
  transition: 0.5s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}
